# Common
export EDITOR="vim"

# Golang
export GOROOT=/usr/local/go
export GOPATH=$HOME/Development/go
export GOBIN=$GOPATH/bin
export GO111MODULE=on

# Node
export NVM_DIR="$HOME/.nvm"

# Path Exports
export PATH=/usr/bin:$PATH
export PATH=/usr/local/bin:$PATH
export PATH=$GOROOT:$PATH
export PATH=$GOROOT/bin:$PATH
export PATH=$GOPATH:$PATH
export PATH=$GOBIN:$PATH

