# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
        name = Curtis Mckee
	email = cmckee.dev@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
