# __________________________
# |   ____  ____  ____ ____  \  
# |  |  _ \|  _ \|  _ ` _  \ |
# |  | | | | |_) | | | | | | |
# |  |_| |_|  __/|_| |_| |_| |
# |______  |_|  _____________|             
#        |_____|

# Author:       Curtis Mckee
# Email:        cmckee.dev@gmail.com
# Website:      https://cmckee-dev.com
# Description:  Npm configuration file
